body {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background: rgb(141, 168, 255);
}

::before,
::after {
  position: relative;
}

.editor__container {
  width: 40vw;
  height: 90vh;
}

#editor {
  width: 100%;
  height: 99.5%;
  background: rgb(177, 177, 177);
  color: rgb(0, 0, 0);
}

.preview__container {
  width: 55vw;
  height: 90vh;
  overflow: scroll;
  background: whitesmoke;
  padding: 0 1rem;
}

.preview__container img {
  width: 100%;
}
